<div class="container">
  <h2 class='response'></h2>

</div>


<div class="question" id="question-template">
  <h3 class="question-text"></h3>
</div>

<div class="answer" id="answer-template">
  <a href="#"></a>
</div>

