<div class="container">
  Welcome To The Quiz
    <button id='start-button' type='button'> Click Here For Quizzes </button>
</div>



<script id="quiz-list-template" type="text/template">
  <ul class="quiz-list">
  </ul>
</script>

<script id="quiz-template" type="text/template">
  <li class="quiz">
    <a class="quiz-link"></a>
  </li>
</script>
