<div class="container">
  <div class="quiz-container">
    <ul id="quiz-list">
    </ul>
  </div>
  <div class="question-container"></div>
</div>


<script id="quiz-template" type="text/template">
    <li>
      <div class="quiz-template">
        <a class="quiz-link" href="#"></a>
      </div>
    </li>
</script>

<script id="question-template" type="text/template">
  <div>
    <h1 class="title"></h1>
    <form method="post">
      <input type="submit" value="Submit">
    </form>
  </div>
</script>

<script id="choice-template" type="text/template">
  <div>
    <input type="radio" class="choice" value=0 ><span class="choice-label"></span>
    <input type="hidden" name="question_id" class="question-id">
  </div>
</script>
