<div class="container">
  <div class="quiz-list">
  </div>
</div>


<script id="quiz-template" type="text/template">
  <p><a class="quiz-link"></a></p>
</script>

<script id="question-template" type="text/template">
    <p class="question-text"></p>
</script>

<script id="choice-template" type="text/template">
    <p><a class="choice-link"></a></p>
</script>