<div class="container">
  <div class="quiz-container">
    <ul id="quiz-list">
    </ul>
  </div>
  <div class="question-container">
    <div class="stats-container">
      <ul class="quiz-stats">
        <li class="current-quiz">Current Quiz</li>
        <li class="stat-num">Correct: <span class="correct">0</span></li>
        <li class="stat-num">Incorrect: <span class="incorrect">0</span></li>
        <li class="correctness"></li>
      </ul>
    </div>
    <div class="question-holder"></div>
  </div>
</div>


<script id="quiz-template" type="text/template">
    <li>
      <div class="quiz-template">
        <a class="quiz-link" href="#"></a>
      </div>
    </li>
</script>

<script id="question-template" type="text/template">
  <div>
    <h1 class="title"></h1>
    <form method="post">
      <input type="hidden" name="question_id" class="question-id">
      <input type="hidden" name="session_key" class="session_key">
      <input type="submit" value="Submit">
    </form>
  </div>
</script>

<script id="choice-template" type="text/template">
  <div>
    <input type="radio" class="choice" value=0 ><span class="choice-label"></span>
  </div>
</script>

<script id="results-template" type="text/template">
  <div>
    <h1>Quiz Completed</h1>
    <h2>Results:</h2>
    <ul>
      <li>Questions Right: <span class="final-right"></span></li>
      <li>Questions Wrong: <span class="final-wrong"></span></li>
    </ul>

    <p>You understand level is... <span class="final-percent"></span>&#37;</p>
    <p>Wowwww...</p>
    <img src="http://gifrific.com/wp-content/uploads/2012/08/McKayla-Maroney-Not-Impressed-Face-Receiving-Medal.gif">
  <div>
</script>
