<div class="container">
  <%= render "shared/quiz_list" %>
  <div class="question-and-choices">
      <p id="question-content"></p>
      <div class="choices">
      </div>
  </div>
  <div class="guess-result">
    <img class="result-image" src="">
  </div>
  <button class="next-question-button">Next Question</button>
</div>
