<div class="container">
  <h1>The Most Boss Quizzes in all the Land</h1>

</div>

<script id="quiz-list-template" type="text/template">
  <ul class="quiz-list">
  </ul>
</script>

<script id="quiz-template" type="text/template">
  <li class="quiz">
    <a class="quiz-link"></a>
  </li>
</script>

<script id="question-template" type="text/template">
  <div class="question">
    <h3></h3>
    <div class="question-text"></div>
    <ul class="choice-list">
    </ul>
  </div>
</script>

<script id="choice-template" type="text/template">
  <li class="choice">
    <a class="choice-link"></a>
  </li>
</script>

<script id="score-template" type="text/template">
  <div class="score">
    <div>Number correct: <span class="correct"></span></div>
    <div>Number incorrect: <span class="incorrect"></span></div>
  </div>
</script>
