nav {
  margin: 0;
  background-color: rgba(100, 100, 100, 0.5);
}

/*nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
}*/

nav p {
  display: inline;
}

p.quiz-name {
  margin-left: 350px;
}

.home-link {
  left: 0;
}

.container {
  margin: auto;
  text-align: center;
}

button {
  display: inline-block;
}

button:hover {
  background-color: rgba(150, 150, 150, 0.2);
}

.container.question-and-choices {
  display: hidden;
}

.choice-button {
  display: inline-block;
  margin: 20px;
}

.guess-result {
  display: none;
}

.next-question-button {
  display: none;
}