.container {
  width: 60%;
  margin: 0 auto;
}


.quiz {
  margin: 3em;
}

.hidden{
  display: none;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.button {
  background-color: lightblue;
  padding: 1em 2em;
  margin: 0.5em auto;
  width: 10em;
  border-radius: 5px
}

.button:hover{
  background-color: royalblue;
  cursor: pointer;
}

.selected{
  background-color: royalblue;
}

.submit {
  padding: 0.75em 1em;
  margin: 0 auto;
  border-radius: 5px;
  width: 10em;
  background-color: dodgerblue;
  text-align: center;
  color: white;
}

.submit:hover{
  cursor: pointer;
  opacity: 0.5;
}