.container {
  margin: 3em;
  width: 1200px;
  margin: 0 auto;
}

.quiz-container {
  width: 299px;
  min-height: 800px;
  border: 1px solid black;
  border-right: 0;
  display: inline-block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.question-container {
  width: 898px;
  min-height: 800px;
  border: 1px solid red;
  display: inline-block;
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#quiz-list li {
  list-style-type: none;
}

.stats-container {
  width: 898px;
  border-bottom: 1px solid red;
  background-color: aliceblue;
  border-radius: 0 5px 3px 3px;
  float: right;
  height: 40px;
}

.stats-container li {
  display: inline-block;
  list-display-type: none;
  margin: 8px 0;
}

.stats-container ul {
  margin: 0;
  padding: 0;
}

.current-quiz {
  font-size: 1.5em;
  font-family: monospace;
  width: 400px;
  padding-left: 24px;
}

.stat-num {
  padding-right: 24px;
}

li.correctness {
  float: right;
  width: 250px;
  height: 32px;
  padding-top: 8px;
  font-size: 1.4em;
  text-align: center;
  background-color: #ccc;
  border-radius: 0 5px 3px 0;
  border-left: 1px solid red;
  margin: 0;
}

img {
  box-shadow: 21px 20px 20px;
}